@charset "utf-8";

/* contents_wrapper */

.contents_wrapper {
    background-color: rgb(234, 205, 180);
    padding-top: 15rem;
}

.contents h2 {
    text-align: center;
    font-size: clamp(2rem, 0.765rem + 5.65vw, 5rem);
    font-weight: 600;
    padding-bottom: clamp(3rem, 2.176rem + 3.76vw, 5rem);
}

.contents .row {
    margin: 0 auto;
    justify-content: space-around;
}

.card {
    margin-bottom: clamp(0rem, -4.941rem + 22.59vw, 12rem);
}

.content_img{
    height: clamp(12rem, 3.353rem + 39.53vw, 33rem);
    padding-top: clamp(0.7rem, 0.576rem + 0.56vw, 1rem);
}

.card-body {
    height: clamp(20rem, 15.882rem + 18.82vw, 30rem);
}

.card-title {
    font-size: clamp(1.2rem, 0.871rem + 1.51vw, 2rem);
    margin: clamp(1rem, 0.588rem + 1.88vw, 2rem) 0;
}

.card-text {
    height: clamp(10rem, 7.941rem + 9.41vw, 15rem);
    font-size: clamp(1rem, 0.712rem + 1.32vw, 1.7rem);
    margin-top: 1rem;
}

.btn_nav a {
    height: clamp(2rem, 1.176rem + 3.76vw, 4rem);
    line-height: clamp(2rem, 1.176rem + 3.76vw, 4rem);
    width: 31%;
    background-color: rgb(214, 194, 14);
    border: rgb(214, 194, 14);
    color: #676767;
    font-weight: 600;
    font-size: clamp(0.7rem, 0.494rem + 0.94vw, 1.2rem);
    padding-bottom: clamp(2rem, 1.176rem + 3.76vw, 4rem);
}

.btn_edit {
    margin-left: clamp(0.5rem, 0.294rem + 0.94vw, 1rem);
}

.btn_delete {
    margin-left: clamp(0.5rem, 0.294rem + 0.94vw, 1rem);
}

footer .row{
    height: 6rem;
    align-items: center;
}
.footer_logo {
    font-family: 'Corben', cursive;
    font-size: clamp(1.5rem, 1.294rem + 0.94vw, 2rem);
}

.copy_text {
    font-size: clamp(0rem, -0.412rem + 1.88vw, 1rem);
}
