@charset "utf-8";

/* writein_box */

.writein_box {
    padding-top: clamp(2rem, -1.294rem + 15.06vw, 10rem);
    text-align: center;
}

.writein_box input[type="text"] {
    font-size: 200%;
}

.writein_box p {
    font-size: clamp(2rem, 1.588rem + 1.88vw, 3rem);
}

.writein_content {
    height: clamp(10rem, 3.824rem + 28.24vw, 25rem);
}

.writein_upload {
    margin: 3rem auto;
    /* position: relative; */
    display: block;
    max-width: 240px;
    padding: 1.5rem 5rem;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #f5402f;
    border-radius: 8px;
    border-bottom: solid 5px #9e2902;
    font-size: clamp(1rem, 0.876rem + 0.56vw, 1.3rem);
}
.writein_upload:hover {
    border-bottom: solid 0.2px #de241d;
    transform: translateY(3px);
    color: #676767;
}
